.App {
  text-align: center;
  margin-bottom: 30px;
}

.App-header {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: left;
}

.App-header h1 {
  font-size: 26px;
}

.App-header h2 {
  padding-top: 5px;
  font-size: 19px;
}

.App-header h1, h2 {
  display: inline;
  text-align: left;
}

.App-form {
  padding-top: 10px;
  padding-bottom: 5px;
}

.App-intro {
  text-align: justify;
  padding-left: 20px;
}

.App-photos {
  text-align: center;
  padding: 0px;
}

.App-intro h2 {
  font-size: 22px;
}

p {
  margin-top: 15px;
  margin-bottom: 20px;
}

.form-control, .btn {
  margin-bottom: 10px;
}
